<section id="top">
  <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
  <div id="hero">
    <h1>A New Way to Discover Natural Disasters & Incidents</h1>
  </div>
</section>

<section id="search">
  <app-search-bar (search)="query($event)"></app-search-bar>
</section>

<section id="problems">
  <div class="uk-container">
    <div class="item">
      <div class="text">
        <h2 class="subheader">Modern Problems Require Modern Solutions</h2>
        <p>we’ve designed state of the art intelligence algorithms to help first responders get the information they need fast</p>
      </div>
      <div class="image">
        <img src="/assets/images/Robot_Transparent.png" alt="">
      </div>
    </div>
  </div>
</section>

<section id="case-studies">
  <div class="uk-container">
    <h2 class="subheader">Check Out Our Case Studies</h2>
    <div class="results uk-grid-match" uk-grid>
      <div *ngFor="let event of events; let i = index">
        <app-search-card (click)="exploreEvent(event.dataset)" [type]="event.type" [mostCount]="i == mostTweetsIndex" [isRecent]="i <= 1" [title]="event.title" [imageUrl]="event.imageUrl" [count]="event.num_of_tweets"></app-search-card>
      </div>
    </div>
  </div>
</section>


